extends ../layout

block content
    h1.
        Card ID #{card._id}
    form(action='/cards/#{card._id}/edit',method='post',name='updatecard',enctype='application/x-www-form-urlencoded')
        p Name: 
            input#inputName(type='text', value='#{card.word}', name='word')
        p Badge: 
            input#inputExample(type='text', value='#{card.example}', name='example')
        p DOB: 
            input#inputCreated(type='date', value='#{cardcreated}', name='createdDate')
        p Are you Loved?: 
            input#inputIsCustom(type='checkbox', name='isCustom', checked=('#{card.isCustom}'==='true' ? "checked" : undefined))
        p 
            input(type='hidden',value='PUT',name='_method')
        p 
            button#btnSubmit(type='submit').
                Update