extends ../layout

block script
    script(type="text/javascript" src="../javascripts/html5dnd.js")
        
block content
    header#top-header
        h2 #{title}

    div#cards
         div#space-wrapper

            div#sorting-space

            div#right-sidebar
                -each card, i in cards
                    div.card(draggable="true")
                        div.header #{card.badge}
                        div.content #{card.name}
                            div.count
                        div.footer
                            div.option
                                form(action='/cards/#{card._id}/edit',method='post',enctype='application/x-wwww-form-urlencoded')
                                    input(type='hidden',value='DELETE',name='_method')
                                    button(type='submit') Delete
                            div.option 
                                a(href='/cards/#{card._id}/edit') Edit
                            div.option
                                a(href='/cards/#{card._id}') Show

    
