extends ../layout

block script
    script(type="text/javascript" src="../../../javascripts/helpers.js")
    script(type="text/javascript" src="../../../javascripts/ajax-helpers.js")
    script(type="text/javascript" src="../../../javascripts/interactions.js")
    if experiment.category == 'closed'
        script(type="text/javascript" src="../../../javascripts/hierarchy_clusters.js")
    

block content
    div#session-wrapper
        div#session-actions
            h2 #{experiment.name}
            if experiment.category == 'closed' && !experiment.closedSession
                button#setup-session.btn(data-session-id="#{session._id}" class="pull-right") complete setup
            else
                button#save-session.btn(data-session-id="#{session._id}" class="pull-right") complete

            button.btn(data-toggle="modal" data-target="#modal" class="pull-right") new card 

        div#flex-wrapper
            div#left-content
                div#sorting-space.space
                    if experiment.category == 'closed' && experiment.closedSession
                        each group, i in template_groups
                            div.group(id="#{group.id}" style="border-color:#e31836;")
                                span.group-name #{group.name}
                                //- each card, i in group.cards
                                    div.card(id="#{card._id}" class="sortable" draggable="true")
                                        div.word #{card.word}
                                        div.example #{card.example}
                                each nestedgroup, i in group.groups
                                    div.nested-group(data-nested-group="#{nestedgroup}")
            div#right-sidebar
                div#deck-session-sidebar
                    div#cards
                        -each card, i in cards
                            div.card(id="#{card._id}" draggable="true")
                                div.word #{card.word}
                                div.example #{card.example}

                                div.footer
                                    div.option
                                        form(action='/cards/#{card._id}/edit',method='post',enctype='application/x-wwww-form-urlencoded')
                                            input(type='hidden',value='DELETE',name='_method')
                                            button(type='submit') Delete
                                    div.option
                                        a(href='/cards/#{card._id}/edit') Edit
                                    div.option
                                        a(href='/cards/#{card._id}') Show

block modal
    div(class="modal fade" id="modal" role="dialog")
        div(class="modal-dialog")
                div(class="modal-content")
                
                    div(class="modal-header")
                        button.close(type="button" data-dismiss="modal") &times;
                        h4.modal-title Create New Custom Card
                    div.modal-body
                        p Name:
                            input#inputWord(type="text", placeholder="ex. Name", name="word")
                        p Example:
                            input#inputExample(type="text", placeholder="ex. (e.g. John Smith)", name="example")
                    div.modal-footer
                        button#submit-custom-card.btn(type="button" class="btn-default") submit
                        button.btn(type="button" class="btn-default" data-dismiss="modal") cancel                                        