extends ../layout

block script
    script(type="text/javascript" src="../../javascripts/ajax-helpers.js")
    script(type="text/javascript" src="../../javascripts/interactions.js")
    script(type="text/javascript" src="../../javascripts/hierarchy_clusters.js")

block content

    h1 Results: #{session.experiment.name} 
    p for #{session._participant.local.email}
    p #{session.dateCreated}

    div#results-wrapper

        each group, i in groups
            div.graph-group(class="" id="#{group.id}")
                span.name #{group.name}
                each card, i in group.cards
                    div.nested-card(id="#{card._id}")
                        span.word #{card.word}
                each nestedgroup, i in group.groups
                    div.nested-group(data-nested-group="#{nestedgroup}")


        //- div#sessions-wrapper.well     
        //-     table.table(class="table-hover")
        //-         thead
        //-             tr
        //-                 th group
        //-                 th cards
        //-                 th groups
        //-         tbody
        //-             each group, i in groups
        //-                 tr
        //-                     td
        //-                         div(id="#{group._id}")
        //-                             span.name #{group.name}
        //-                     td
        //-                         each card, i in group.cards
        //-                             div #{card.word}
        //-                     -console.log(group.groups)
        //-                     if group.groups
        //-                         td
        //-                             each nestedgroup, i in group.groups
        //-                                 -console.log(nestedgroup)
        //-                                 div(id="#{nestedgroup}")
        //-                                     span.name #{nestedgroup}
